@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

:root {
  font-family: 'Geologica', sans-serif;
  line-height: 1.2;

  --color-white: 255, 255, 255;
  --color-white-soft: 233, 233, 243;
  --color-accent-blue: #1A669C;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(116.21deg, #052652 0%, #2D9CDB 100%) fixed;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 40px;
}

@media (max-width: 1280px) {
  .container {
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}